<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <canvas id="scene"></canvas>

    <div id="overlay">
      <h1>Alive</h1>
      <h2 id="author">by kingston tam</h2>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//js.leapmotion.com/leap-0.4.2.min.js"></script>
    <script src="js/processing-1.4.1.js"></script>
    <script src="js/app.js"></script>
    <script>
      var app = new AliveApplication();
      app.run();
    </script>
  </body>
</html>
